<%= render 'shared/decoration_string' %>
<section class="featured-section">
  <h1>Contact</h1>
  <p>We are your experts for legendary beasts. You don’t know which food your basilisk really needs?
    You wonder which type of brush is right for your Medusa's hair?
    You are looking for a companion for your gryphon?
    Then this is the place to be!
  </p>
</section>
<%= render 'shared/decoration_string' %>
