<section class="container">
  <h1>Contact</h1>
  <p>We are your experts for legendary beasts. You don’t know which food your basilisk really needs?
<<<<<<< HEAD
    You wonder which type of brush is right for your Medusa's hair?
=======
    You wonder which type of brush is right for your Medusas hair?
>>>>>>> 4a8a523c29f7790e3f8c5e357b53ba07117c7204
    You are looking for a companion for your gryphon?
    Then this is the place to be!
  </p>
</section>
