<h1>Contact</h1>
<p>We are your cycling experts. You don’t know what size of cycling gloves to order? 
  You wonder which type of wheel is right for you? You need help configuring your dream bike?
  Then this is the place to be!
</p>
