<section class="container">
  <h1>Welcome to Beasts of Berlin</h1>
  <h2>Your source for mythical creatures in Berlin</h2>
<<<<<<< HEAD
  <p>
    <br />
    <%= image_tag "forqua-bird.jpg", class:"img-fluid"%>
  </p>
=======
  <%= image_tag "forqua-bird.jpg", class:"img-fluid"%>
>>>>>>> 4a8a523c29f7790e3f8c5e357b53ba07117c7204
</section>
