<%= render 'shared/decoration_string' %>
<section class="featured-section">
  <h1>Thank you.</h1>
  <p>We have received your message and will respond as soon as possible.</p>
  <p><%= link_to "Back", root_path, class:"edit-link" %></p>
</section>
<%= render 'shared/decoration_string' %>
