<table>
  <tbody>
    <tr>
      <td><h2>Dear <%= @user_name %>,</h2></td>
    </tr>
    <tr>
      <td><p>we have received your payment, thank you for your purchase!</p></td>
    </tr>
    <tr>
      <td><p>Your <%= @product_name %> will be sent to you immediately.</p></td>
    </tr>
    <tr>
      <td><p><strong>Your <%= @appname %> Team!</strong></p></td>
    </tr>
  </tbody>
</table>
