<% if signed_in? %>
  <div class="edit-comment">
    <hr />
    <h4>Edit your review:</h4>
    <%= form_with( model: [@product, @comment], remote: true) do |f| %>
      <%= render partial: "comment_form_inner", locals: { form: f } %>
    <% end %>
  </div><!-- end new-comment -->
<% end %>
