<%= render 'shared/decoration_string' %>
<section class="featured-section">
  <h1>Thank you</h1>
  <p>for your purchase.</p>
  <p><%= link_to "Back", products_path, class:"edit-link" %></p>
</section>
<%= render 'shared/decoration_string' %>
