// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product-card-outer {  // empty placeholder with fixed aspect ratio
  position: relative;
  width: 100%;
  padding-top: 210%;
}
.product-card {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 1em;
}
.product-card-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 1em;
}
.product-card h3 {
  text-align: center;
  padding-top: 0.5em;
}

.product-card-bottom .price {
  padding-right: 0.6em;
  text-align: right;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #d5d550;
}
.product-card-outer hr {
  margin: 0.6em 0;
  border-top: 1px solid rgba(255, 255, 100, 0.4);
 }


table.products-table,
table.products-table th,
table.products-table td {
  font-family: 'Quattrocento', serif;
}

table.products-table th {  font-size: 1.5em; }
table.products-table th,
table.products-table td {
  padding: 0.6em;
  vertical-align: top;
}
table.products-table th {
  padding-left: 0.3em;
}

table.products-table col.name-col { width: 15%; }
table.products-table col.description-col { width: 60%; }
table.products-table col.image-url-col { width: 15%; }


a.edit-link {
  font-family: 'Quattrocento Sans', sans-serif;
}
