// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************  products page  *********************************************/

.product-row {
  align-items: stretch;
}

.product-card-outer {  // empty placeholder with fixed aspect ratio
  position: relative;
  display: flex;
  flex-direction:column;
  justify-content: space-between;
  padding: 1em;
  padding-bottom: 5em;
}

.product-card {
  width: 100%;
}

.product-card-bottom {
  width: 100%;
}
.product-card h3 {
  text-align: center;
  padding-top: 0.5em;
}

.product-card-bottom .price {
  padding-right: 0.6em;
  text-align: right;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #d5d550;
}
.product-card-outer hr {
  margin: 0.6em 0;
  border-top: 1px solid rgba(255, 255, 100, 0.4);
 }

 .product-card a:hover + h3 a { color: #b0ffff; }

/*-------------------  end products page -------------------------------------*/

/********************  show page  *********************************************/
section.show-product { padding: 10vh 10vw; }

section.show-product h3 {
  padding-top: 0.5em;
  font-size: 1.75em;
}

.comments { padding-top: 2em; }

.product-info-main { min-height: 11em; }

.product-info-main .rated { display: inline-block; }

.product-info-bottom {
  width: 100%;
  padding-top: 1em;
}

.product-info-bottom .price {
  padding-right: 0.6em;
  text-align: right;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #d5d550;
}

 .product-info a:hover + h3 a { color: #b0ffff; }

 @media screen and (min-width: 576px) {
 }
 @media screen and (min-width: 768px) {
   section.show-product {
     padding: 10vh 12vw;
     font-size: 1.1em;
   }
 }
 @media screen and (min-width: 992px) {
   section.show-product {
     padding: 9vh 15vw;
     font-size: 1.15em;
   }
 }
 @media screen and (min-width: 1200px) {
   section.show-product {
     padding: 8vh 20vw;
     font-size: 1.2em;
   }
 }

/********************  comments pagination  ***********************************/
.comments-pagination {
  padding: 0.3em;
  text-align: center;
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.1em;
  color: #709040;
}

.comments-pagination a,
.comments-pagination span,
.comments-pagination em {
  background-color: #001c00;
  padding: 0.3em 0.6em;
  border-radius: 0.3em;
}

.comments-pagination a:hover { background-color: #004c00; }

.comments-pagination .current {
  font-style: normal;
  font-weight: bold;
  color: #d5d550;
}

.comments-pagination .previous_page,
.comments-pagination .next_page {
  padding: 0.3em 0.8em;
  font-weight: bold;
}


/*-------------------  end comments pagination -------------------------------*/


/*-------------------  end show page -----------------------------------------*/
