// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************  general rules  *****************************************/
* { box-sizing: border-box; }

body {
  position: relative;
  padding-top: 50px;
  font-size: 1em;
  line-height: normal;
  color: #e0f0b0;
  background-color: #001c00;
}

h1,
h2,
h3 {
  color: #d5d550;//#c5c500;//#e0d000;
}

a,
a:link,
a:visited {
  color: #80e0c0;
}
a:hover,
a:active {
  text-decoration: none;
  color: #b0ffff;
  background-color: transparent;
}
section {
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
}

section h1,
section h2,
section h3 {
  text-align: center;
}

.outer-container {
  padding: 0;
  background-color: #002b00;
}

hr {
  margin: 0.6em 0;
  border-top: 1px solid rgba(255, 255, 100, 0.4);
}

/*-------------------  end general rules  ------------------------------------*/

/********************  navigation  ********************************************/
#my-navbar {
  background-color: #001c00;
  font-size: 1.2em;
  font-weight: bold;
}

#my-navbar li { text-align: right; }
#my-navbar ul,
#my-navbar a:link,
#my-navbar a:visited {
  color: #f0e000;//#e0f0b0; //#a0d7d0;
}

#my-navbar a:hover,
#my-navbar a:active {
  color: #ffff90;//#fff090;
}

.deco-string {
  width: 100%;
  overflow: hidden;
  color: #340;
  font-size:4vw;
  text-align: center;
}
.deco-string-inner {
  margin: 0.2em -2em;
  color: #340;
  font-size:4vw;
  text-align: center;
}
/*-------------------  end navigation  ---------------------------------------*/

/********************  landing page *******************************************/

section.landing-top { padding-top: 1.5em; }
section.landing-top h1 { text-align: center; }
section.carousel-section {
  padding: 0;
  padding-top: 0.5em;
}
section.featured-section {
  padding-top: 2em;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 1.2em;
}

.feature-left {
  padding-right: 1em;
  text-align: right;
}
.feature-left h2,
.feature-left h3 {
   text-align: right;
}

.feature-left-bottom {
  padding-top: 3vw;
}

.featured-section div.product-image:hover + div a { color: #b0ffff; }

/*-------------------  end landing page  -------------------------------------*/

/********************  landing page carousel **********************************/
#my-main-carousel .carousel-item {
  padding: 0 20%;
  padding-bottom: 50px;
}
#my-main-carousel .description {
  padding-top: 8%;
  padding-right: 3%;
  text-align: right;
}
#my-main-carousel .description p {
  font-family: 'Quattrocento', serif;
  font-size: 2vw;
}
#my-main-carousel .description h3 { font-size: 3vw; }

#my-main-carousel .carousel-control-prev-icon,
#my-main-carousel .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border: none;
  background-image: none;
}

#my-main-carousel .carousel-control-next-icon:after
{
  content: '\00bb';
  font-size: 55px;
  color: #f0e000;
}

#my-main-carousel .carousel-control-prev-icon:after {
  content: '\00ab';
  font-size: 55px;
  color: #f0e000;
}

#my-main-carousel .carousel-indicators li {
  background-color: rgba(250, 200, 0, 0.5);
}
#my-main-carousel .carousel-indicators li.active {
  background-color: #f0e000;
}

.carousel-item div.product-image:hover + div a { color: #b0ffff; }

@media screen and (max-width: 575px) {
  #my-main-carousel .description h3 { font-size: 6vw; }
}

/*-------------------  end landing page carousel  ----------------------------*/

/********************  footer  ************************************************/
footer {
  min-height: 6em;
  padding: 20px;
  color: #709040;
  background-color: #001c00;
}
/*-------------------  end footer  -------------------------------------------*/

/******************** typography  *********************************************/

body,
p,
li {
  font-family: 'Quattrocento', serif;
}

h1,
h2,
h3,
nav.navbar,
nav.navbar a,
.carousel,
.carousel p,
.contact p,
footer {
  font-family: 'Quattrocento Sans', sans-serif;
}


/*-------------------  end typography  ---------------------------------------*/
