// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/********************  general rules  *****************************************/
* { box-sizing: border-box; }

body {
  position: relative;
  padding-top: 54px;
  font-size: 1em;
  line-height: normal;
  color: #e0f0b0;
  background-color: #001c00;
}

h1,
h2,
h3 {
  color: #d5d550;//#c5c500;//#e0d000;
}

a,
a:link,
a:visited {
  color: #80e0c0;
}
a:hover,
a:active {
  text-decoration: none;
  color: #b0ffff;
  background-color: transparent;
}

a.edit-link {
  font-family: 'Quattrocento Sans', sans-serif;
}

section {
  padding-top: 1em;
  padding-bottom: 0;
  padding-left: 2em;
  padding-right: 2em;
}

section h1,
section h2,
section h3 {
  text-align: center;
}

.outer-container {
  padding: 0;
  background-color: #002b00;
}

hr {
  margin: 0.6em 0;
  border-top: 1px solid rgba(255, 255, 100, 0.4);
}

#notice,
#alert {
  text-align: center;
  margin: 0;
  padding: 0.3em;
  font-size: 0.8em;
  font-family: 'Quattrocento Sans', sans-serif;
  color: #a0d080;
}

#alert { color: #f06050; }
/*-------------------  end general rules  ------------------------------------*/

/******************** forms********  ******************************************/
form .field {
  font-family: 'Quattrocento Sans', sans-serif;
  color: #a0d080;
  margin-bottom: 1em;
}

form label {
  display: inline-block;
  color: #d5d550;
  font-family: 'Quattrocento Sans', sans-serif;
}

form .form-control {
  border: none;
  color: #e0f0b0 !important;
  background-color: #003b00 !important;
}

form .form-control[type="checkbox"] {
  display: inline-block;
  width: 1em;
  color: #e0f0b0 !important;
  background-color: #003b00 !important;
}

form .form-control:-webkit-autofill,
form .form-control:-webkit-autofill:hover,
form .form-control:-webkit-autofill:focus {
  background-color: #003b00 !important;
  color: #e0f0b0 !important;
}

form .btn-primary {
  border: 2px solid #004000;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #80e0c0;
  background-color: #003000;
}

form .btn-primary:hover {
  border: 2px solid #b0ffff;
  color: #b0ffff;
  background-color: #004000;
}

.form-control::placeholder {            /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #709040;
    opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder {    /* Internet Explorer 10-11 */
  color: #709040;
}

.form-control::-ms-input-placeholder {  /* Microsoft Edge */
  color: #709040;
}

form.product-form,
form.contact-form {
  max-width: 700px;
  margin: 0 auto;
  padding-bottom: 2em;
}

#error_explanation li { color: #000; }

/*-------------------  end forms ---------------------------------------------*/

/********************  devise user forms  *************************************/
.user-container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 2em;
}
.user-container p{
  color: #d5d550;
  font-family: 'Quattrocento Sans', sans-serif;
}

.devise-links {
  text-align: center;
  padding-bottom: 2em;
}
.devise-links a {
  font-family: 'Quattrocento Sans', sans-serif;
}


/*-------------------  end devise user forms  --------------------------------*/

/********************  navigation  ********************************************/
#my-navbar {
  background-color: #001c00;
  font-size: 1.2em;
  font-weight: bold;
}

#my-navbar ul,
#my-navbar a:link,
#my-navbar a:visited {
  color: #f0e000;
}

#my-navbar a:hover,
#my-navbar a:active {
  color: #ffff90;
}

.deco-string {
  width: 100%;
  overflow: hidden;
  color: #340;
  font-size:4vw;
  text-align: center;
}

.deco-string-inner {
  margin: 0.2em -2em;
  color: #340;
  font-size:4vw;
  text-align: center;
}


#search-form {
  padding-top: 0.1em;
}
#search-form .search-field{
  position: relative;
  display: flex;
}
#search-form .form-control {
  margin-left: 1em;
  padding: 0.15em 0.6em;
  padding-right: 1.5em;
  border-radius: 1em;
  border: none;
  color: #e0f0b0;
  background-color: #002b00;
}

#q::placeholder {            /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #709040;
    opacity: 1; /* Firefox */
}
#q:-ms-input-placeholder {    /* Internet Explorer 10-11 */
  color: #709040;
}
#q::-ms-input-placeholder {  /* Microsoft Edge */
  color: #709040;
}

#search-form button {
  position: absolute;
  top: 0.25em;
  right: 0.4em;
  background-color: transparent;
  color: #80e0c0;
  border: none;
}

#search-form button:hover {
  color: #b0ffff;
}

@media screen and (max-width: 575px) {
  #search-form .search-field{
    width: 100%;
  }
}
/*-------------------  end navigation  ---------------------------------------*/

/********************  landing page *******************************************/

section.landing-top { padding-top: 1.5em; }
section.landing-top h1 { text-align: center; }
section.carousel-section {
  padding: 0;
  padding-top: 0.5em;
}
section.featured-section {
  padding-top: 2em;
  padding-left: 7vw;
  padding-right: 7vw;
  font-size: 1.2em;
}

section.featured-section p { text-align: center; }

.feature-left {
  padding-right: 1em;
  text-align: right;
}
.feature-left h2,
.feature-left h3 {
   text-align: right;
}

.feature-left-bottom {
  padding-top: 3vw;
}

.featured-section div.product-image:hover + div a { color: #b0ffff; }

/*-------------------  end landing page  -------------------------------------*/

/********************  landing page carousel **********************************/
#my-main-carousel .carousel-item {
  padding: 0 20%;
  padding-bottom: 50px;
}
#my-main-carousel .description {
  padding-top: 8%;
  padding-right: 3%;
  text-align: right;
}
#my-main-carousel .description p {
  font-family: 'Quattrocento', serif;
  font-size: 2vw;
}
#my-main-carousel .description h3 { font-size: 3vw; }

#my-main-carousel .carousel-control-prev-icon,
#my-main-carousel .carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-size: 100%, 100%;
  border: none;
  background-image: none;
}

#my-main-carousel .carousel-control-next-icon:after
{
  content: '\00bb';
  font-size: 55px;
  color: #f0e000;
}

#my-main-carousel .carousel-control-prev-icon:after {
  content: '\00ab';
  font-size: 55px;
  color: #f0e000;
}

#my-main-carousel .carousel-indicators li {
  background-color: rgba(250, 200, 0, 0.5);
}
#my-main-carousel .carousel-indicators li.active {
  background-color: #f0e000;
}

.carousel-item div.product-image:hover + div a { color: #b0ffff; }

@media screen and (max-width: 575px) {
  #my-main-carousel .description h3 { font-size: 6vw; }
}

/*-------------------  end landing page carousel  ----------------------------*/

/********************  footer  ************************************************/
footer {
  min-height: 6em;
  padding: 20px;
  color: #709040;
  background-color: #001c00;
}
/*-------------------  end footer  -------------------------------------------*/

/******************** typography  *********************************************/

body,
p,
li {
  font-family: 'Quattrocento', serif;
}

h1,
h2,
h3,
nav.navbar,
nav.navbar a,
.carousel,
.carousel p,
.contact p,
footer {
  font-family: 'Quattrocento Sans', sans-serif;
}


/*-------------------  end typography  ---------------------------------------*/
