<% if signed_in? %>
  <div class="new-comment">
    <hr />
    <h4>Add a review:</h4>
    <%= form_with( model: [@product, @product.comments.build], remote: true) do |f| %>
      <%= render partial: "comments/comment_form_inner", locals: { form: f } %>
    <% end %>
  </div><!-- end new-comment -->
<% end %>
