<section class="all-products">
  <h1>Products</h1>
  <div class="row product-row">
    <% if @products.length > 0 %>
      <%= render partial: "product", collection: @products %>
    <% else %>
      <div class="col-12">
        <%if params[:q] %>
          <p>No products matched your query for <strong>'<%= params[:q] %>'</strong>.</p>
        <% else %>
          <p>No products were found.</p>
        <% end %>
      </div>
    <% end %>
  </div><!-- end row -->

  <br>

  <% if admin_signed_in? %>
    <%= link_to 'New Product', new_product_path, class: "edit-link" %>
  <% end %>

</section>
<%= render 'shared/decoration_string' %>
