<%= render 'shared/decoration_string' %>
<section class="container">
  <h1>New Product</h1>

  <%= render 'form', product: @product %>

  <p>
    <%= link_to 'Back', products_path, class: "edit-link" %>
  </p>
</section>
<%= render 'shared/decoration_string' %>
